.wrapper {
    padding: 16px 0;
    border-top: 1px solid #1618231f;
}

.lable {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 600;
}

.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;

    &:hover {
        
        background-color: rgba(22, 24, 35, .03);
        
        border-radius: 4px;
        transition: background-color 200ms ease-in-out 0s;
        }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.info-item {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-size: 1.6rem;
    color: #161823;
    line-height: 1;
}

.check {
    margin-left: 4px;
}

.name {
    font-size: 1.2rem;
    color: #161823bf;

}

.more-btn {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary);
    padding: 8px;
    cursor: pointer;
}