.wrapper {
padding: 20px;
}

.header {
    display: flex;
    width: 280px;
    justify-content: space-between;
    margin-bottom: 12px;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.follow-btn {
    min-width: 106px;
    min-height: 28px;
    max-height: 34px;
    background-color: var(--primary);
    font-size: 1.6rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
}

.body {
    color: #161823;
}

.nickname {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 22px;cursor: pointer;
}

.check {
    margin-left: 4px;
}

.name {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}

.footer {
    display: flex;
    margin-top: 8px;
}

.value {
    font-size: 1.7rem;
    font-weight: 700;
    margin-right: 6px;
}

.lable {
    font-size: 1.7rem;
    color: #161823bf;
    margin-right: 12px;
}